<main class="container">
  <section class="master">
    <img class="logo" src="../../../assets/images/cse.png" alt=""/>
    <div class="brand">
      <p class="company-name">中国船舶重工集团柴油机有限公司</p>
      <p class="app-name">专业技术职务评审系统</p>
    </div>
  </section>
  <section class="content">
    <form class="form-inline">
      <div class="form-group">
        <label class="form-action"><span class="icon icon-remove-sign"></span></label>
        <input name="username" [(ngModel)]="user.username" class="form-control" type="text" placeholder="您的登录用户名"/>
        <label class="form-label"><span class="icon icon-user"></span></label>
      </div>
      <div class="form-group">
        <label class="form-action"><span class="icon icon-eye-open"></span></label>
        <input name="password" [(ngModel)]="user.password" class="form-control" type="password" placeholder="6-32位密码，区分大小写"/>
        <label class="form-label"><span class="icon icon-lock"></span></label>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-super" type="button" (click)="login()" [disabled]="isLoginBtnDisabled">
          <span *ngIf="!isLoginBtnDisabled">登录</span>
          <span *ngIf="isLoginBtnDisabled">正在登录</span>
        </button>
      </div>
    </form>
  </section>
</main>
