<main class="container">
  <div class="panel">
    <p class="candidate">
      <span>领导班子考核评价&nbsp;-&nbsp;{{leadershipScoreForm.evaluationGroupName}}</span>
      <span>受评者：{{leadershipScoreForm.evaluateeName}}</span>
    </p>
    <table class="table table-bordered table-reverse table-hover" style="table-layout: fixed">
      <thead>
      <tr>
        <th colspan="2">政治素质（每项满分10分）</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>政治方向</td>
        <td>
          <input name="politicsQuality1" [(ngModel)]="leadershipScoreForm.politicsQuality1"
                 class="form-control" type="number"/>
          <label>分</label>
        </td>
      </tr>
      <tr>
        <td>党建工作</td>
        <td>
          <input name="politicsQuality2" [(ngModel)]="leadershipScoreForm.politicsQuality2"
                 class="form-control" type="number"/>
          <label>分</label>
        </td>
      </tr>
      <tr>
        <td>社会责任</td>
        <td>
          <input name="politicsQuality3" [(ngModel)]="leadershipScoreForm.politicsQuality3"
                 class="form-control" type="number"/>
          <label>分</label>
        </td>
      </tr>
      </tbody>
    </table>
    <table class="table table-bordered table-reverse table-hover" style="table-layout: fixed">
      <thead>
      <tr>
        <th colspan="2">经营业绩（每项满分10分）</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>经济效益</td>
        <td>
          <input name="operatePerformance1" [(ngModel)]="leadershipScoreForm.operatePerformance1"
                 class="form-control" type="number"/>
          <label>分</label>
        </td>
      </tr>
      <tr>
        <td>可持续发展</td>
        <td>
          <input name="operatePerformance2" [(ngModel)]="leadershipScoreForm.operatePerformance2"
                 class="form-control" type="number"/>
          <label>分</label>
        </td>
      </tr>
      <tr>
        <td>创新成效</td>
        <td>
          <input name="operatePerformance3" [(ngModel)]="leadershipScoreForm.operatePerformance3" class="form-control"
                 type="number"/>
          <label>分</label>
        </td>
      </tr>
      <tr>
        <td>科学管理</td>
        <td>
          <input name="operatePerformance4" [(ngModel)]="leadershipScoreForm.operatePerformance4" class="form-control"
                 type="number"/>
          <label>分</label>
        </td>
      </tr>
      </tbody>
    </table>
    <table class="table table-bordered table-reverse table-hover" style="table-layout: fixed">
      <thead>
      <tr>
        <th colspan="2">团队协作（每项满分10分）</th>
      </tr>
      </thead>
      <tr>
        <td>发扬民主</td>
        <td>
          <input name="teamwork1" [(ngModel)]="leadershipScoreForm.teamwork1" class="form-control"
                 type="number"/>
          <label>分</label>
        </td>
      </tr>
      <tr>
        <td>整体合力</td>
        <td>
          <input name="teamwork2" [(ngModel)]="leadershipScoreForm.teamwork2" class="form-control"
                 type="number"/>
          <label>分</label>
        </td>
      </tr>
      <tbody>
      <tr>
        <td>运行机制</td>
        <td>
          <input name="teamwork3" [(ngModel)]="leadershipScoreForm.teamwork3" class="form-control"
                 type="number"/>
          <label>分</label>
        </td>
      </tr>
      </tbody>
    </table>
    <table class="table table-bordered table-reverse table-hover" style="table-layout: fixed">
      <thead>
      <tr>
        <th colspan="2">作风形象（每项满分10分）</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>联系群众</td>
        <td>
          <input name="styleAndImage1" [(ngModel)]="leadershipScoreForm.styleAndImage1" class="form-control"
                 type="number"/>
          <label>分</label>
        </td>
      </tr>
      <tr>
        <td>选人用人</td>
        <td>
          <input name="styleAndImage2" [(ngModel)]="leadershipScoreForm.styleAndImage2" class="form-control"
                 type="number"/>
          <label>分</label>
        </td>
      </tr>
      <tr>
        <td>廉洁自律</td>
        <td>
          <input name="styleAndImage3" [(ngModel)]="leadershipScoreForm.styleAndImage3" class="form-control"
                 type="number"/>
          <label>分</label>
        </td>
      </tr>
      </tbody>
    </table>
    <section>
      <span style="font-weight: 700">评审方法：</span><span>评委请根据《2018年度下属公司领导班子综合考核评价办法》，对受评者的政治素质、经营业绩、团队协作、作风形象进行评分，每项1~10分（10~9分为表现突出，8~7分为表现较好，6~5分为表现一般，4分以下为表现较差）。</span>
    </section>
    <section class="btn-group">
      <a routerLink="/user/{{evaluator.userId}}/evaluationScoreForm/list">
        <button class="btn btn-primary" type="button">返回</button>
      </a>
      <button class="btn btn-primary" type="button" *ngIf="!leadershipScoreForm.complete"
              (click)="submitLeadershipScoreFormScore()" [disabled]="isSubmitBtnDisabled || isSaveBtnDisabled">
        <span class="icon icon-refresh rotate" *ngIf="isSubmitBtnDisabled"></span>
        <span *ngIf="!isSubmitBtnDisabled">提交</span>
        <span *ngIf="isSubmitBtnDisabled">正在提交</span>
      </button>
      <button class="btn btn-primary" type="button" *ngIf="!leadershipScoreForm.complete"
              (click)="saveLeadershipScoreFormScore()" [disabled]="isSaveBtnDisabled || isSubmitBtnDisabled">
        <span class="icon icon-refresh rotate" *ngIf="isSaveBtnDisabled"></span>
        <span *ngIf="!isSaveBtnDisabled">暂存</span>
        <span *ngIf="isSaveBtnDisabled">正在保存</span>
      </button>
    </section>
  </div>
</main>
