<table class="table table-bordered table-reverse" *ngFor="let candidate of candidates">
  <tbody>
  <tr>
    <td>姓名</td>
    <td>{{candidate.name}}</td>
  </tr>
  <tr>
    <td>单位</td>
    <td>{{candidate.organization}}</td>
  </tr>
  <tr>
    <td>部门</td>
    <td>{{candidate.department}}</td>
  </tr>
  <tr>
    <td>查看</td>
    <td>
      <a routerLink="/candidate/{{candidate.id}}/info">
        <button class="btn btn-link" type="button">详细信息</button>
      </a>
    </td>
  </tr>
  </tbody>
</table>
