<main class="container">
  <div class="panel">
    <p class="candidate">
      <span>申报职称：{{group.title}}</span>
    </p>
    <table *ngFor="let candidate of group.candidateList" class="table table-bordered table-reverse">
      <tbody>
      <tr>
        <td>姓名</td>
        <td>{{candidate.name}}</td>
      </tr>
      <tr>
        <td>专业知识与技术水平</td>
        <td>{{candidate.score.professionalKnowledgeScore}}</td>
      </tr>
      <tr>
        <td>工作业绩</td>
        <td>{{candidate.score.workPerformanceScore}}</td>
      </tr>
      <tr>
        <td>工作能力</td>
        <td>{{candidate.score.workAbilityScore}}</td>
      </tr>
      <tr>
        <td>论著与技术总结</td>
        <td>{{candidate.score.technicalAbilityScore}}</td>
      </tr>
      <tr>
        <td>职业道德和工作态度</td>
        <td>{{candidate.score.professionalEthicsScore}}</td>
      </tr>
      <tr *ngIf="!candidate.score.submit">
        <td>操作</td>
        <td>
          <a routerLink="/candidate/{{candidate.id}}/score/edit">
            <button class="btn btn-link">修改</button>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
    <section class="btn-group">
      <a routerLink="/index">
        <button class="btn btn-primary" type="button" [disabled]="isBtnDisabled">返回</button>
      </a>
      <button class="btn btn-primary" type="button" *ngIf="!group.candidateList[0].score.submit" (click)="submitScore()" [disabled]="isBtnDisabled">
        <span class="icon icon-refresh rotate" *ngIf="isBtnDisabled"></span>
        <span *ngIf="!isBtnDisabled">确认提交</span>
        <span *ngIf="isBtnDisabled">正在提交</span>
      </button>
    </section>
  </div>
</main>
