<main class="container">
  <div class="panel">
    <p class="candidate">
      <span>{{plan.name}}</span>
      <span>评委列表</span>
    </p>
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>姓名</th>
        <th>用户名</th>
        <th>密码</th>
        <th *ngIf="1 == plan.progressStatus">评分情况</th>
        <th *ngIf="0 == plan.progressStatus">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let judge of plan.judgeList">
        <td>{{judge.name}}</td>
        <td>{{judge.username}}</td>
        <td>{{judge.password}}</td>
        <td *ngIf="1 == plan.progressStatus">
          <span *ngIf="judge.submit">已完成</span>
          <span *ngIf="!judge.submit">未完成</span>
        </td>
        <td *ngIf="0 == plan.progressStatus">
          <button class="btn btn-link" type="button" (click)="modalService.showDeleteEvaluatorModal(judge)">删除</button>
        </td>
      </tr>
      </tbody>
    </table>
    <section class="btn-group">
      <a routerLink="/plan/list">
        <button class="btn btn-primary" type="button">返回</button>
      </a>
      <button class="btn btn-primary" type="button" (click)="modalService.showAddEvaluatorModal(plan)" *ngIf="0 == plan.progressStatus">导入评委</button>
    </section>
  </div>
</main>
<app-judge-import-modal (emitter)="getNewJudges($event)"></app-judge-import-modal>
<app-judge-delete-modal (emitter)="deleteJudge($event)"></app-judge-delete-modal>
