<main class="container">
  <div class="panel">
    <p class="candidate">
      <span>参评人员：{{score.candidate.name}}</span>
      <span>申请职位：{{score.candidate.electPosition}}</span>
    </p>
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>评分项</th>
        <th>得分</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>专业知识与技术水平</td>
        <td>
          <input name="professionalKnowledgeScore" [(ngModel)]="score.professionalKnowledgeScore" class="form-control" type="text"/>
          <label>分</label>
        </td>
      </tr>
      <tr>
        <td>工作业绩</td>
        <td>
          <input name="workPerformanceScore" [(ngModel)]="score.workPerformanceScore" class="form-control" type="text"/>
          <label>分</label>
        </td>
      </tr>
      <tr>
        <td>工作能力</td>
        <td>
          <input name="workAbilityScore" [(ngModel)]="score.workAbilityScore" class="form-control" type="text"/>
          <label>分</label>
        </td>
      </tr>
      <tr>
        <td>论著与技术总结</td>
        <td>
          <input name="technicalAbilityScore" [(ngModel)]="score.technicalAbilityScore" class="form-control" type="text"/>
          <label>分</label>
        </td>
      </tr>
      <tr>
        <td>职业道德和工作态度</td>
        <td>
          <input name="professionalEthicsScore" [(ngModel)]="score.professionalEthicsScore" class="form-control" type="text"/>
          <label>分</label>
        </td>
      </tr>
      </tbody>
    </table>
    <section>
      <span style="font-weight: 700">评审方法：</span>评委根据《工程系列高级评审因素评分方法》，对专业知识与技术水平、工作业绩、工作能力、论著与技术总结和职业道德和工作态度进行评分，1-100分。<span style="color: #FF0000">其中职业道德和工作态度不及格者不能参加评审会。</span>
    </section>
    <section class="btn-group">
      <a routerLink="/index">
        <button class="btn btn-primary" type="button">返回</button>
      </a>
      <button class="btn btn-primary" type="button" *ngIf="!score.submit" (click)="saveScore()" [disabled]="isBtnDisabled">
        <span class="icon icon-refresh rotate" *ngIf="isBtnDisabled"></span>
        <span *ngIf="!isBtnDisabled">预存</span>
        <span *ngIf="isBtnDisabled">正在保存</span>
      </button>
    </section>
  </div>
</main>
