<div class="modal" *ngIf="modalService.isUpdateUserPasswordModalVisible">
  <dialog class="modal-dialog">
    <header class="modal-header">
      <h1 class="modal-title">修改用户密码</h1>
      <div class="modal-dismiss">
        <span class="icon icon-remove" (click)="modalService.dismissUpdateUserPasswordModal()"></span>
      </div>
    </header>
    <main class="modal-content">
      <form class="form-horizontal form-horizontal-3">
        <div class="form-group">
          <label class="form-label">姓名</label>
          <p class="form-control">{{user.name}}</p>
        </div>
        <div class="form-group">
          <label class="form-label">用户名</label>
          <p class="form-control">{{user.username}}</p>
        </div>
        <div class="form-group">
          <label class="form-label">新密码</label>
          <input #password (input)="newPassword = password.value" class="form-control" type="text"/>
        </div>
      </form>
    </main>
    <footer class="modal-footer">
      <button class="btn btn-default" type="button" (click)="modalService.dismissUpdateUserPasswordModal()"
              [disabled]="isBtnDisabled">取消
      </button>
      <button class="btn btn-primary" type="button" (click)="updateUserPassword()" [disabled]="isBtnDisabled">
        <span class="icon icon-refresh rotate" *ngIf="isBtnDisabled"></span>
        <span *ngIf="!isBtnDisabled">保存</span>
        <span *ngIf="isBtnDisabled">正在保存</span>
      </button>
    </footer>
  </dialog>
</div>
