<main class="container">
  <div class="panel">
    <p class="candidate">
      <span>{{evaluationGroup.name}}</span>
      <span>未选择评价者列表</span>
    </p>
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>姓名</th>
        <th>用户名</th>
        <th>密码</th>
        <th *ngIf="!evaluationGroup.complete">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{user.password}}</td>
        <td *ngIf="!evaluationGroup.complete">
          <button class="btn btn-link" type="button" (click)="addEvaluator(user)">添加</button>
        </td>
      </tr>
      </tbody>
    </table>
    <section class="btn-group">
      <a routerLink="/evaluationPlan/{{evaluationGroup.evaluationPlanId}}/evaluationGroup/list">
        <button class="btn btn-primary" type="button">返回</button>
      </a>
    </section>
  </div>
</main>
<!--<app-judge-import-modal (emitter)="getNewJudges($event)"></app-judge-import-modal>-->
<!--<app-judge-delete-modal (emitter)="deleteJudge($event)"></app-judge-delete-modal>-->
