<main class="container">
  <div class="panel">
    <p class="candidate">
      <span>{{group.name}}</span>
      <span>参评人员信息</span>
    </p>
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>姓名</th>
        <th>单位</th>
        <th>部门</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let candidate of group.candidateList">
        <td>{{candidate.name}}</td>
        <td>{{candidate.organization}}</td>
        <td>{{candidate.department}}</td>
      </tr>
      </tbody>
    </table>
    <p class="candidate">
      <span>{{group.name}}</span>
      <span>评委信息</span>
    </p>
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>姓名</th>
        <th>用户名</th>
        <th>密码</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let judge of group.judgeList">
        <td>{{judge.name}}</td>
        <td>{{judge.username}}</td>
        <td>{{judge.password}}</td>
      </tr>
      </tbody>
    </table>
    <section class="btn-group">
      <a routerLink="/plan/{{group.planId}}/groups">
        <button class="btn btn-primary">返回</button>
      </a>
    </section>
  </div>
</main>
