<main class="container">
  <div class="panel">
    <p class="candidate">
      <span>评审计划：{{plan.name}}</span>
    </p>
    <table class="table table-bordered table-reverse">
      <tbody>
      <tr>
        <td>照片</td>
        <td>
          <div class="portrait-form">
            <img class="portrait" [src]="candidate.portrait | safeUrl" alt=""/>
            <input #portraitFile class="form-control" type="file" (change)="selectFile($event)"/>
            <button class="btn btn-default" (click)="portraitFile.click()" *ngIf="!isFileSelected">选择照片</button>
            <button class="btn btn-small btn-primary" *ngIf="isFileSelected" (click)="saveCandidatePortrait()"
                    [disabled]="isBtnDisabled">
              <span class="icon icon-refresh rotate" *ngIf="isFileSelected && isBtnDisabled"></span>
              <span *ngIf="isFileSelected && !isBtnDisabled">保存</span>
              <span *ngIf="isFileSelected && isBtnDisabled">正在保存</span>
            </button>
            <button class="btn btn-small btn-default" *ngIf="isFileSelected" (click)="deselectFile()"
                    [disabled]="isBtnDisabled">取消
            </button>
          </div>
        </td>
      </tr>
      <tr>
        <td>姓名</td>
        <td><input name="name" [(ngModel)]="candidate.name" class="form-control" type="text"/></td>
      </tr>
      <tr>
        <td>用户名</td>
        <td><input name="username" [(ngModel)]="user.username" class="form-control" type="text"/></td>
      </tr>
      <tr>
        <td>密码</td>
        <td><input name="password" [(ngModel)]="user.password" class="form-control" type="text"/></td>
      </tr>
      <tr>
        <td>申请职位</td>
        <td><input name="electPosition" [(ngModel)]="candidate.electPosition" class="form-control" type="text"/></td>
      </tr>
      <tr>
        <td>单位</td>
        <td><input name="gender" [(ngModel)]="candidate.organization" class="form-control" type="text"/></td>
      </tr>
      <tr>
        <td>部门</td>
        <td><input name="gender" [(ngModel)]="candidate.department" class="form-control" type="text"/></td>
      </tr>
      <tr>
        <td>性别</td>
        <td><input name="gender" [(ngModel)]="candidate.gender" class="form-control" type="text"/></td>
      </tr>
      <tr>
        <td>出生年月</td>
        <td><input name="birthday" [(ngModel)]="candidate.birthday" class="form-control" type="text"/></td>
      </tr>
      <tr>
        <td>学历</td>
        <td><input name="education" [(ngModel)]="candidate.education" class="form-control" type="text"/></td>
      </tr>
      <tr>
        <td>毕业院校</td>
        <td><input name="university" [(ngModel)]="candidate.university" class="form-control" type="text"/></td>
      </tr>
      <tr>
        <td>毕业年度</td>
        <td><input name="graduationYear" [(ngModel)]="candidate.graduationYear" class="form-control working-years"
                   type="text"/><span>年</span></td>
      </tr>
      <tr>
        <td>专业</td>
        <td><input name="major" [(ngModel)]="candidate.major" class="form-control" type="text"/></td>
      </tr>
      <tr>
        <td>学制</td>
        <td><input name="studyYears" [(ngModel)]="candidate.studyYears" class="form-control working-years" type="text"/><span>年</span>
        </td>
      </tr>
      <tr>
        <td>现从事专业</td>
        <td><input name="presentOccupation" [(ngModel)]="candidate.presentOccupation" class="form-control" type="text"/>
        </td>
      </tr>
      <tr>
        <td>职业资格</td>
        <td><input name="qualificationCertificate" [(ngModel)]="candidate.qualificationCertificate" class="form-control"
                   type="text"/></td>
      </tr>
      <tr>
        <td>现任职务</td>
        <td><input name="currentJob" [(ngModel)]="candidate.currentJob" class="form-control" type="text"/></td>
      </tr>
      <tr>
        <td>授予时间</td>
        <td><input name="grantingTime" [(ngModel)]="candidate.grantingTime" class="form-control" type="text"/></td>
      </tr>
      <tr>
        <td>专业技术工作年限</td>
        <td><input name="workingYears" [(ngModel)]="candidate.workingYears" class="form-control working-years"
                   type="text"/><span>年</span></td>
      </tr>
      <tr>
        <td>科技成果</td>
        <td><textarea name="technologicalAchievements" class="form-control"
                      [(ngModel)]="candidate.technologicalAchievements"></textarea></td>
      </tr>
      <tr>
        <td>发表的论文</td>
        <td><textarea name="papers" class="form-control" [(ngModel)]="candidate.papers"></textarea></td>
      </tr>
      <tr>
        <td>获得的荣誉</td>
        <td><textarea name="honors" class="form-control" [(ngModel)]="candidate.honors"></textarea></td>
      </tr>
      </tbody>
    </table>
    <section class="btn-group">
      <a routerLink="/plan/{{plan.id}}/candidates">
        <button class="btn btn-primary" type="button" [disabled]="isBtnDisabled">返回</button>
      </a>
      <button class="btn btn-primary" type="button" (click)="saveCandidateInfo()" [disabled]="isBtnDisabled">
        <span class="icon icon-refresh rotate" *ngIf="!isFileSelected && isBtnDisabled"></span>
        <span class="icon icon-refresh rotate" *ngIf="isFileSelected && isBtnDisabled"></span>
        <span *ngIf="isFileSelected && !isBtnDisabled">保存</span>
        <span *ngIf="isFileSelected && isBtnDisabled">正在保存</span>
        <span *ngIf="!isFileSelected && !isBtnDisabled">保存</span>
        <span *ngIf="!isFileSelected && isBtnDisabled">正在保存</span>
      </button>
    </section>
  </div>
</main>
